/* body > div {
    display: flex;
    padding: 20px;
} */

main {
    display: inline-block;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    padding: 20px;
}

input {
    display: flex;
    justify-self: center;
}

#testAnimationContainer {
    height: 10px;
    background-color: #214D74;
}

#testAnimation {
    height: 10px;
    background-color: white;
    animation: loading;
    animation-iteration-count: infinite;
}

@keyframes loading {
    from {opacity: 0}
    to {opacity: 1}
}