body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > *{
    align-items: center;
}

button {
    flex-grow: 0;
}