/* body > div {
    display: flex;
    padding: 20px;
} */

main {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: center;
    padding: 20px;
}

input {
    display: flex;
    justify-self: center;
}