:root {
  --primary-color: #F0F2F4;
  --secondary-color: #214D74;
  --accent-color: #28A745;
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--primary-color);
}

li {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
  height: 100%;
}

.navBarElement {
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: var(--secondary-color);
  text-decoration: none;
  border: none;
}

.navBarElementContainerText {
  display:flex;
  align-items: center;
  padding: 0px 20px;
}

.navBarElementContainer {
  padding: 0px 20px;
}

button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: var(--accent-color);
  text-decoration: none;
  border: none;
  height: 100%;
  line-height:calc(5vh*0.6);
  cursor: pointer;
  border-radius: 20px;
  padding: 0px 5px;
}

i {
  font-weight: 500;
  font-size: calc(5vh*0.6);
  color: white;
  text-decoration: none;
  height: 100%
}

header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: var(--secondary-color);
  height: 5vh;
  color: white!important;
}

.navBar {
  display: flex;
  align-items:center;
  height: calc(5vh*0.6);
  list-style: none;
}

.search {
  margin:0;
  background-color:white;
  height: calc(5vh*0.6);
  border: none;
  border-radius: 20px;
  padding: 0px 5px;
  width: clamp(100px, 40vw, 400px);
}

.app {
  display: flex;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  background-color:var(--secondary-color);;
  right: 0.5em;
  top: 3em;
}

.dropdown-content a{
  text-decoration: none;
  display: block;
  color: white;
}

/*for dropdown*/
.show{
  display: block;
}

h3 {
  color: var(--secondary-color);
  margin-bottom: 1em;
}

input.error{
  border-color: red;
}

a {
  display: sticky;
}

.pointer {
  cursor: pointer;
}

/*no background-color here because alert div spans whole screen*/
.alert {
  display: none;
  position: sticky;
  justify-content: center;
  align-self:center;
  top: 3em;
  width: 100vw;
}

#alertContent {
  display: flex;
  position: absolute;
  background-color: white;
  border:solid;
  border-color: lightgrey;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3em;
  width: 50%;
}

#loading:before{
  width: 100px;
  height: 100px;
}

#loading {
  width: 5px;
  height: 5px;
  background-color: white;
  position: relative;
  animation-name: loadingAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loadingAnimation {
  from   {left:33vw; top:-5px;}
  to  {left:66vw; top:-5px;}
}

#object{
  position: absolute;
  top: 200px;
  left:0;
  right:0;
  margin:0 auto;
  width: 10px;
  height: 10px;
  background: red;
  -webkit-animation: myOrbit 6s linear infinite;
  -moz-animation: myOrbit 6s linear infinite;
  -o-animation: myOrbit 6s linear infinite;
  animation: myOrbit 6s linear infinite;
  }

  #object:after{
  content: "";
  position: absolute;
  top: 0;
  left:0;
  right:0;
  margin: 0 auto;
  width: 100px;
  height: 10px;
  opacity: .1;
  background-color: red;
  -webkit-animation: myOrbit-fadeout 6s linear infinite;
  -moz-animation: myOrbit-fadeout 6s linear infinite;
  -o-animation: myOrbit-fadeout 6s linear infinite;
  animation: myOrbit-fadeout 6s linear infinite;
  }


  @-webkit-keyframes myOrbit {
  0%  { -webkit-transform: rotate(0deg) translateY(200px); }
  25%  { -webkit-transform: rotate(90deg) translateY(200px); }
  50%  { -webkit-transform: rotate(180deg) translateY(200px); }
  75%  { -webkit-transform: rotate(270deg) translateY(200px); }
  100%  { -webkit-transform: rotate(360deg) translateY(200px); }
  }

  @-moz-keyframes myOrbit {
  0%  { -moz-transform: rotate(0deg) translateY(200px); }
  25%  { -moz-transform: rotate(90deg) translateY(200px); }
  50%  { -moz-transform: rotate(180deg) translateY(200px); }
  75%  { -moz-transform: rotate(270deg) translateY(200px); }
  100%  { -moz-transform: rotate(360deg) translateY(200px); }
  }

  @-o-keyframes myOrbit {
  0%  { -o-transform: rotate(0deg) translateY(200px); }
  25%  { -o-transform: rotate(90deg) translateY(200px); }
  50%  { -o-transform: rotate(180deg) translateY(200px); }
  75%  { -o-transform: rotate(270deg) translateY(200px); }
  100%  { -o-transform: rotate(360deg) translateY(200px); }
  }

  @keyframes myOrbit {
  0%  { transform: rotate(0deg) translateY(200px); }
  25%  { transform: rotate(90deg) translateY(200px); }
  50%  { transform: rotate(180deg) translateY(200px); }
  75%  { transform: rotate(270deg) translateY(200px); }
  100%  { transform: rotate(360deg) translateY(200px); }
  }

  @-webkit-keyframes myOrbit-fadeout {
  0%  { opacity: 1.0; }
  25%  { opacity: .75; }
  50%  { opacity: .5; }
  75%  { opacity: .25; }
  100%  { opacity: 0; }
  }
  @-moz-keyframes myOrbit-fadeout {
  0%  { opacity: 1.0; }
  25%  { opacity: .75; }
  50%  { opacity: .5; }
  75%  { opacity: .25; }
  100%  { opacity: 0; }
  }
  @-o-keyframes myOrbit-fadeout {
  0%  { opacity: 1.0; }
  25%  { opacity: .75; }
  50%  { opacity: .5; }
  75%  { opacity: .25; }
  100%  { opacity: 0; }
  }
  @keyframes myOrbit-fadeout {
  0%  { opacity: 1.0; }
  25%  { opacity: .75; }
  50%  { opacity: .5; }
  75%  { opacity: .25; }
  100%  { opacity: 0; }
  }

/* #loading::after {

} */

/* @keyframes acrossScreen {
  from {float: left;}
  to {float: right;}
}

#loading {
  width: 10px;
  height: 10px;
  float: left;
  background-color: red;
  animation-name: acrossScreen;
  animation-duration: 2s;
} */

/*https://codepen.io/nzbin/pen/GGrXbp */
/**
 *
 * three-dots.css v0.1.0
 *
 * https://nzbin.github.io/three-dots/
 *
 * Copyright (c) 2018 nzbin
 *
 * Released under the MIT license
 *
 */
/**
 * ==============================================
 * Dot Elastic
 * ==============================================
 */

.loadingDots {
  bottom: 10px;
  width: 10vw;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.dot-elastic {
  position: sticky;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #9880ff;
  animation: dotElastic 1s infinite linear;
}

.dot-elastic::before, .dot-elastic::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #9880ff;
  animation: dotElasticBefore 1s infinite linear;
}

.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #9880ff;
  animation: dotElasticAfter 1s infinite linear;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}