.main {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 100vh;

}

.main2 {
    height: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.guest {
    background: white;
    height: 25%;
    text-align: center;
}

.login {
    background: white;
    width: 49%;
    height: 100%;
    text-align: center
}

.loginContainer {
    margin-top: 1%;
}

.eventLogin {
    background: white;
    width: 49%;
    height: 100%;
    text-align: center
}

.signup {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}

h2 {
    text-align: center;
    color: #3F6844;
}
h1 {
    text-align: center;
    color: #3F6844;
}

.loginButton {
    height: 30px;
    width: 50%;
    margin-top: 5%
}
