.main {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 100vh;

}

.main2 {
    height: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.guest {
    background: white;
    height: 25%;
    text-align: center;
}

.login {
    background: white;
    width: 49%;
    height: 100%;
    text-align: center
}

.loginContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    text-align: center;
}

.eventLogin {
    background: white;
    width: 49%;
    height: 100%;
    text-align: center
}

.signup {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}

h2 {
    text-align: center;
    color: var(--secondary-color);
}
h1 {
    text-align: center;
    color: var(--secondary-color);
}

.loginButton {
    height: 30px;
    width: 50%;
    margin-top: 5%
}

.g-signin2
{
    text-align: center;
}

.passwordContainer{
    display: flex;
    justify-content:left;
}

a {
    font-size: 0.8em;
    text-decoration: underline;
}

i {
    color: var(--secondary-color);
}
