.notifCenter {
    display: flex;
    justify-content: space-around;
}

.notifContainer {
    background-color: white;
    border-radius: 20px;
    width:40vw;
    margin: 20px;
}

.notification {
    margin:5px;
    padding: 10px;
    display: flex;
    flex-direction:column;

    border-radius: 20px;
    border: 2px;
    border-style: solid;
    border-color: var(--primary-color);
}