<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Event Planning - Account</title>
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/account.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <script src="https://kit.fontawesome.com/849e072605.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <script src="/scripts/global.js" defer></script>
        <script src="/scripts/account.js" defer></script>

        <!--Not in vue because I couldn't find an "onmouseup" element for vue-->
        <script>
            function showPassword(field){
                //Turns password field into text field
                document.getElementById(field).type = "text";
            }
            function hidePassword(field){
                document.getElementById(field).type = "password";
            }
        </script>
    </head>

    <body>

        <div id="app">

            <header id="Nav"></header>

            </br>
            <div class="accountPageContainer">
                <h3>Your Account Info</h3>

                <label for="userName">Username: </label>
                <p style="display: inline" id="user_name" name = "userName"></p>

                </br>

                <label for="firstName">First name: </label>
                <input type="text" name="firstName" id="first_name"> </input>
                <button type="submit" v-on:click="updateUser(`first_name`)">Submit</button>
                <p id="maxLengthFirstName"></p>

                </br>

                <label for="lastName">Last name: </label>
                <input type="text" name="lastName" id="last_name"> </input>
                <button type="submit" v-on:click="updateUser(`last_name`)">Submit</button>
                <p id="maxLengthLastName"></p>

                </br>

                <label for="email">Email: </label>
                <input type="text" name="email" id="email"> </input>
                <button type="submit" v-on:click="updateUser(`email`)">Submit</button>
                <p id="maxLengthEmail"></p>

                </br>

                <h3>Change Password</h3>

                <div id="passwordFields">

                    <label for="oldPassword">Current Password: </label>
                    <input type="password" name="oldPassword" id="oldPassword" onclick="removeError()"></input>
                    <img src="/images/eye-close-up.jpg" alt="Show password" onmousedown="showPassword('oldPassword')" onmouseup="hidePassword('oldPassword')" width="15em">

                    </br>

                    <label for="newPassword">New Password: </label>
                    <input type="password" name="newPassword" id="newPassword" onclick="removeError()"></input>
                    <img src="/images/eye-close-up.jpg" alt="Show password" onmousedown="showPassword('newPassword')" onmouseup="hidePassword('newPassword')" width="15em">

                    </br>

                    <label for="newPasswordRepeat">Repeat new password: </label>
                    <input type="password" name="newPasswordRepeat" id="newPasswordRepeat" onclick="removeError()"></input>
                    <img src="/images/eye-close-up.jpg" alt="Show password" onmousedown="showPassword('newPasswordRepeat')" onmouseup="hidePassword('newPasswordRepeat')" width="15em">

                </div>

                <button type="submit" v-on:click="changePassword()">Submit</button>

                </br>
                </br>
                <h3>Email Settings</h3>
                <div class="emailSettingsContainer">
                    <p>Receive an Email when an event is finalised:</p>
                    <button v-if="!currentEmailSettingFinalise" v-on:click="updateEmailSettings(`finalise`,1)">Opt in</button>
                    <button v-if="currentEmailSettingFinalise" v-on:click="updateEmailSettings(`finalise`,0)">Opt out</button>
                </div>
                <div class="emailSettingsContainer">
                    <p>Receive an Email when an event is cancelled:</p>
                    <button v-if="!currentEmailSettingCancel" v-on:click="updateEmailSettings(`cancel`,1)">Opt in</button>
                    <button v-if="currentEmailSettingCancel" v-on:click="updateEmailSettings(`cancel`,0)">Opt out</button>
                </div>
                <div class="emailSettingsContainer">
                    <p>Receive an Email when someone updates their status:</p>
                    <button v-if="!currentEmailSettingResponse" v-on:click="updateEmailSettings(`response`,1)">Opt in</button>
                    <button v-if="currentEmailSettingResponse" v-on:click="updateEmailSettings(`response`,0)">Opt out</button>
                </div>
            </div>

        </div>
    </body>

</html>