<!DOCTYPE html>
<html lang="en">

<head>
  <title>Event Planning - Calendar</title>
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/calendar.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <script src="https://kit.fontawesome.com/849e072605.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="/scripts/global.js" async defer></script>
  <script src="/scripts/calendar.js" async defer></script>
  <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
  <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
</head>

<body>
  <script>
    //Most of this is taken from the Quick start guide.
    /* exported gapiLoaded */
    /* exported gisLoaded */
    /* exported handleAuthClick */

    // TODO(developer): Set to client ID and API key from the Developer Console
    const CLIENT_ID = '304572589092-a2plf5r7k7d1d5j91e62mjhgkq4tglbg.apps.googleusercontent.com';
    const API_KEY = 'AIzaSyA15Y1tTyXJWMpaSaIC70-Bu8CL_AIyJPw';

    // Discovery doc URL for APIs used by the quickstart
    const DISCOVERY_DOC = 'https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest';

    // Authorization scopes required by the API; multiple scopes can be
    // included, separated by spaces.
    const SCOPES = 'https://www.googleapis.com/auth/calendar';

    let tokenClient;
    let gapiInited = false;
    let gisInited = false;

    /**
     * Callback after api.js is loaded.
     */
    function gapiLoaded() {
      gapi.load('client', intializeGapiClient);
    }

    /**
     * Callback after the API client is loaded. Loads the
     * discovery doc to initialize the API.
     */
    async function intializeGapiClient() {
      await gapi.client.init({
        apiKey: API_KEY,
        discoveryDocs: [DISCOVERY_DOC],
      });
      gapiInited = true;
      maybeEnableButtons();
    }

    /**
     * Callback after Google Identity Services are loaded.
     */
    function gisLoaded() {
      tokenClient = google.accounts.oauth2.initTokenClient({
        client_id: CLIENT_ID,
        scope: SCOPES,
        callback: '', // defined later
      });
      gisInited = true;
      maybeEnableButtons();
    }

    /**
     * Enables user interaction after all libraries are loaded.
     */
    function maybeEnableButtons() {
      if (gapiInited && gisInited) {
        document.getElementById('authorize_button').style.visibility = 'visible';
      }
    }

    /**
     *  Sign in the user upon button click.
     */
    function handleAuthClick() {
      tokenClient.callback = async (resp) => {
        if (resp.error !== undefined) {
          throw (resp);
        }
        await listUpcomingEvents();
      };

      if (gapi.client.getToken() === null) {
        // Prompt the user to select a Google Account and ask for consent to share their data
        // when establishing a new session.
        tokenClient.requestAccessToken({ prompt: 'consent' });
      } else {
        // Skip display of account chooser and consent dialog for an existing session.
        tokenClient.requestAccessToken({ prompt: '' });
      }
    }

    /**
     * Print the summary and start datetime/date of the next ten events in
     * the authorized user's calendar. If no events are found an
     * appropriate message is printed.
     */
    async function listUpcomingEvents() {
      vueinst.auth=true;
      vueinst.buttonName='Sync Month'
      let response;
      const startOfMonth = moment(`${vueinst.year}-${vueinst.month}-01`)
      const startOfMonthString = startOfMonth.format("YYYY-MM-DD[T]HH:mm:ss")
      const endOfMonth = moment(startOfMonth).endOf('month')
      const endOfMonthString = endOfMonth.format("YYYY-MM-DD[T]HH:mm:ss")
      try {
        const request = {
          'calendarId': 'primary',
          'timeMin': (new Date(startOfMonthString)).toISOString(),
          'timeMax': (new Date(endOfMonthString)).toISOString(),
          'showDeleted': false,
          'singleEvents': true,
          'maxResults': 250,
          'orderBy': 'startTime',
        };
        response = await gapi.client.calendar.events.list(request);
      } catch (err) {
        document.getElementById('content').innerText = err.message;
        return;
      }

      const events = response.result.items;
      if (!events || events.length == 0) {
        document.getElementById('content').innerText = 'No events found.';
        return;
      }
      // Flatten to string to display
      let reqBody = JSON.stringify({month:startOfMonthString});
      let xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = async function () {
        if (this.readyState == 4 && this.status == 500) {
          console.log("error");
        }
        if (this.readyState == 4 && this.status == 200) {
          vueinst.getMonth();
          for (let event of events){
            await addExternalUnav(moment(event.start.dateTime).format("YYYY-MM-DD[T]HH:mm:ss"),moment(event.end.dateTime).format("YYYY-MM-DD[T]HH:mm:ss"),event.summary)
          }
          vueinst.getMonth();
        }
      };

      xhttp.open("POST", "/api/calendar/clearExternal", true);
      xhttp.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
      xhttp.send(reqBody);
    }
    async function addExternalUnav(unavailableFrom,unavailableTo,reason){
      return new Promise(function (resolve, reject){
        let reqBody = JSON.stringify({unavailable_from: unavailableFrom, unavailable_to: unavailableTo, reason: reason, origin:'external' });
        let xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 500) {
                reject()
            }
            if (this.readyState == 4 && this.status == 200) {
              resolve()
            }
        };

        xhttp.open("POST", "/api/calendar/addExternal", true);
        xhttp.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
        xhttp.send(reqBody);
      })

    }

    function pushUnavUp(unavailableFrom='2022-06-15T21:00:00',unavailableTo='2022-06-15T23:00:00',reason='test'){
      let event = {
        summary: reason,
        start: {
          dateTime: moment.utc(unavailableFrom).format("YYYY-MM-DD[T]HH:mm:ss+09:30"),
          timeZone: 'Australia/Adelaide'
        },
        end : {
          dateTime: moment.utc(unavailableTo).format("YYYY-MM-DD[T]HH:mm:ss+09:30"),
          timeZone: 'Australia/Adelaide'
        }
      }

      var request = gapi.client.calendar.events.insert({
        'calendarId': 'primary',
        'resource': event,
      });

      request.execute(function(event) {
        //console.log(event);
      });
    }
  </script>
  <div id="app">
    <header id="Nav"></header>
    <div class="calendarPageContainer">
      <div class="monthInfoContainer">
        <h3>{{calendar.month}} {{calendar.year}}</h3>
        <div>
          <button id="authorize_button" onclick="handleAuthClick()">{{buttonName}}</button>
          <button v-on:click="prevMonth()">Last Month</button>
          <button v-on:click="nextMonth()">Next Month</button>
        </div>
      </div>
      <div class="columnContainer">
        <div v-for="day in calendar.days">
          <strong>{{day.dayName}}</strong>
          <div class="column">
            <div title="Add unavailability" v-on:click="addUnavailability(date)"
              v-bind:class="{ activeBlock:!date.blank, inactiveBlock:date.blank }" v-for="date in day.dates">
              {{date.date}}
              <div v-for="event in date.events" class="miniEvent">
                <div>
                  {{formatTime(event.unavailable_from)}} <strong>{{event.reason}}</strong>
                </div>
                <div style="display:flex;">
                  <div v-if="event.origin=='internal' && auth" title="Push to External Calendar" style="padding-right:5px; cursor: pointer;" v-on:click.stop="pushUnavUp(event.unavailable_from,event.unavailable_to,event.reason,event.unavailability_id)">
                    <i class="fa-solid fa-upload" style="font-size:14px;"></i>
                  </div>
                  <div title="Delete unavailability" v-on:click.stop="deleteEvent(event)" style="cursor: pointer;">
                    <i class="fa-solid fa-trash-can" style="font-size:14px;"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="calendarPageContainer" v-if="showForm">
      <div style="width: 95vw">
        Add Unavailability on {{calendar.month}} {{addUnavailabilityDate}} {{year}}
        <form onsubmit="return false">
          <div>
            <label for="reason">Name</label>
            <input v-model="reason" type="text" id="reason" />
          </div>
          <div>
            <label for="from">Unavailable from</label>
            <input v-model="unavailableFrom" type="time" id="from" />
          </div>
          <div>
            <label for="to">Unavailable to</label>
            <input v-model="unavailableTo" type="time" id="to" />
          </div>
          <button v-on:click="submitUnavailability">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>