<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Event Planning - Home</title>
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/calendar.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <script src="https://kit.fontawesome.com/849e072605.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script>
            ELEMENT.locale(ELEMENT.lang.en)
        </script>
        <script src="/scripts/global.js" defer></script>
        <script src="/scripts/calendar.js" defer></script>
    </head>
    <body>
    <div id="app">
        <header id="Nav"></header>
        <div class="calendarPageContainer">
          <div>
            <strong>{{calendar.month}} {{calendar.year}}</strong>
            <button v-on:click="prevMonth()">Last Month</button>
            <button v-on:click="nextMonth()">Next Month</button>
          </div>
          <div  class="columnContainer">
            <div v-for="day in calendar.days">
              <strong>{{day.dayName}}</strong>
              <div class="column">
                <div v-on:click="addUnavailability(date)" v-bind:class="{ activeBlock:!date.blank, inactiveBlock:date.blank }" v-for="date in day.dates">
                  {{date.date}}
                  <div v-for="event in date.events" class="miniEvent">
                    {{event.unavailable_from}} <strong>{{event.reason}}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="calendarPageContainer" v-if="showForm">
          <div style="width: 95vw">
            Add Unavailability on {{calendar.month}} {{addUnavailabilityDate}} {{year}}
          <form onsubmit="return false">
            <div>
              <label for="reason">Name</label>
              <input v-model="reason" type="text" id="reason"/>
            </div>
            <div>
              <label for="from">Unavailable from</label>
              <input v-model="unavailableFrom" type="time" id="from"/>
            </div>
            <div>
              <label for="to">Unavailable to</label>
              <input v-model="unavailableTo" type="time" id="to"/>
            </div>
            <button v-on:click="submitUnavailability">Submit</button>
          </form>
        </div>
        </div>
    </div>
    </body>
</html>