<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Event Planning - Events</title>
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/events.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <script src="https://kit.fontawesome.com/849e072605.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="/scripts/global.js" defer></script>
        <script src="/scripts/events.js" defer></script>
    </head>
    <body>
    <div id="app">
        <header id="Nav"></header>
        <div class="app">
            <div>
                <div class="container" >
                    <span><strong>My Events</strong></span>
                    <div class="buttonsAndEvents">
                        <div class="arrowButtonContainer">
                            <button class="arrowButton" v-on:click="shiftNLeft">&lt;</button>
                        </div>
                        <div v-for="event in myEvents" class="eventContainer">
                            <img v-bind:src="imagePreURL + event.Image" style="width:20vw;"/>
                            <div class="eventTextContainer">
                                <strong class="eventName">{{event.Title}}</strong>
                                <em class="eventDate">{{event.Date}} {{event.Time}}</em>
                                <span class="eventText">{{event.Address}}</span>
                                <div class="eventAttendeeInfoContainer">
                                    <div>
                                        <div class="center">{{event.Going}}</div>
                                        <div class="center">People Going</div>
                                    </div>
                                    <div>
                                        <div class="center">{{event.Unsure}}</div>
                                        <div class="center">Pending</div>
                                    </div>
                                    <div>
                                        <div class="center">{{event.Not_Going}}</div>
                                        <div class="center">Can't Go</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="arrowButtonContainer">
                            <button class="arrowButton" v-on:click="shiftNRight">&gt;</button>
                        </div>
                    </div>
                </div>
                <div class="container" >
                    <span><strong>Invited Events</strong></span>
                    <div class="buttonsAndEvents">
                        <div class="arrowButtonContainer">
                            <button class="arrowButton" v-on:click="shiftMLeft">&lt;</button>
                        </div>
                        <div v-for="event in invitedEvents" class="eventContainer">
                            <img v-bind:src="imagePreURL + event.Image" style="width:20vw;"/>
                            <div class="eventTextContainer">
                                <strong class="eventName">{{event.Title}}</strong>
                                <em class="eventDate">{{event.Date}} {{event.Time}}</em>
                                <span class="eventText">{{event.Address}}</span>
                                <span class="eventText">{{event.Status}}, Change Status Below</span>
                                <div class="eventAttendeeInfoContainer">
                                    <div>
                                        <div class="center"><i style="color:green" href="#" class="icon fa-solid fa-check" v-on:click.stop="changeStatus(event.event_id,'Going')"></i></div>
                                        <div class="center">Accept Invite</div>
                                    </div>
                                    <div>
                                        <div class="center"><i style="color:orange" href="#" class="icon fa-solid fa-question" v-on:click.stop="changeStatus(event.event_id,'Unsure')"></i></div>
                                        <div class="center">Maybe</div>
                                    </div>
                                    <div>
                                        <div class="center"><i style="color:red" href="#" class="icon fa-solid fa-xmark" v-on:click.stop="changeStatus(event.event_id,'Not Going')"></i></div>
                                        <div class="center">Decline Invite</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="arrowButtonContainer">
                            <button class="arrowButton" v-on:click="shiftMRight">&gt;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>