<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Event Planning - Forgotten Password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/forgottenPassword.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <script src="https://kit.fontawesome.com/849e072605.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="/scripts/global.js"></script>
        <script src="/scripts/forgottenPassword.js" defer></script>

    </head>

    <body>

        <header>
            <ul class="navBar">
                <li class="navBarElementContainerText"><a href="/login" class="navBarElement">Back to login</a></li>
            </ul>
        </header>

        <div>

            <main id="app">

                <div>
                    <label for="userName">Enter your username: </label>
                    <br/>
                    <input type="text" name="userName" id="userName" v-model="userName" onclick="removeError()">
                </div>

                <button v-on:click="generateCode()" type="submit">send reset code</button>

                <form onsubmit="return false;">
                    <div>
                        <label for="code">Code: </label>
                        <input type="number" id="code" name="code" v-model="code" onclick="removeError()">
                    </div>

                    <div>
                        <label for="password">New password: </label>
                        <input type="password" id="password" name="password" v-model="newPassword" onclick="removeError()">
                    </div>

                    <div>
                        <label for="passwordRepeat">Repeat password: </label>
                        <input type="password" id="passwordRepeat" name="passwordRepeat" onclick="removeError()">
                    </div>

                    <button type="submit" v-on:click="updatePassword()" onclick="removeError()">Submit</button>
                </form>

            </main>
        </div>

    </body>
</html>